{%extends 'base.html'%}
{%block title%}Account{%endblock title%}
{%block content%}
<h1>Account</h1>
<ol>
  <li><h2><a href="{% url 'balance'%}">Balance Check</a></h2></li>
  <li><h2><a href="{%url 'credit'%}">Credit</a></h2></li>
  <li><h2><a href="{%url 'debit'%}">Deposit</a></h2></li>
  <li><h2><a href="{%url 'transfer'%}">Transfer Amount</a></h2></li>
  <li><h2><a href="{%url 'miniStatement'%}">Mini-Statement</a></h2></li>
  <li><h2><a href="{%url 'passbook'%}">Passbook</a></h2></li>
</ol>
{%endblock content%}
