{%extends 'base.html'%}
{%block title%}Credit Fund{%endblock title%}
{%block content%}
<script>
function myFunction() {
  var amount=document.getElementById('amount').value
  var amount2=document.getElementById('amount2').value
  if ( amount==null ||amount == "" || amount2==null || amount2 == "")
  {
    alert("Amount is not valid.");
    event.preventDefault();
    return False;
  }
  else if (amount!=amount2)
  {
    print()
    alert("Amount is not same.")
    event.preventDefault();
    return False;
  }
  else {
    return True;

  }
}
</script>
<h1>Credit</h1>
<form  action="creditnow" onsubmit=" return myFunction();" method="post">{% csrf_token%}
  <h2>Enter amount : <input type="number" id="amount" name="amount" value=""></input></h2>
  <h2>Confirm amount : <input type="number" id="amount2" name="amount2" value=""></input></h2>
<button type="submit"  name="button">Credit</button>
</form>
{%endblock content%}
