{%extends 'base.html'%}
{%block title%}Debit Fund{%endblock title%}
{%block content%}
<script>
function myFunction() {
  var amount=document.getElementById('amount').value
  var amount2=document.getElementById('amount2').value
  if ( amount==null ||amount == "" || amount2==null ||amount2 == "")
  {
    alert("Amount is not valid.");
    event.preventDefault();
    return False;
  }
  else if(amount!=amount2)
  {
    alert("Amount and confirm amount is not same.");
    event.preventDefault();
    return False;
  }
  else {
    return True;

  }
}
</script>

<h1>Debit</h1>
<form  action="debitnow" onsubmit="return myFunction();" method="post">{% csrf_token%}
  <h2>Enter amount : <input type="number"  id="amount" name="amount" value=""></input></h2>
  <h2>confirm amount : <input type="number"  id="amount2" name="amount2" value=""></input></h2>
<button type="submit" name="button">Debit</button>
</form>
{%endblock content%}
