<script>
function myFunction()
{
  var amount=document.getElementById('amount').value;
  var account=document.getElementById('account').value;
  var username=document.getElementById('username').value;
  if ( amount==null || amount == "" || username==null || username == "" || account==null || account== "" )
  {
    alert("Fill valid values.");
    event.preventDefault();
    return False;
  }
  else
  {
    return True;
  }
}
</script>


<h1>Transfer Amount</h1>
<form class="" onsubmit="myFunction();" action="trsanction_now" method="post">{% csrf_token%}
  <h2>Account Holder Username : <input type="name" id="username" name="username" value=""></input></h2>
  <h2>Account No : <input type="number" id="account" name="account_no" value=""></input></h2>
  <h2>Amount : <input type="number" id="amount" name="amount" value=""></input></h2>
<button type="submit" name="button">Transfer</button>
</form>
